@media screen and (max-width: 600px) {
    .con-btn-sign{
        display: none;
    }

    main {
        overflow-x: hidden;
        padding: 0 25px; 
    }

    header {
        height: 91px;
        width: 100vw;
        position: fixed;
        top: 0;
        padding: 0px 40px 0px 40px;  
        background-color: #FFFFFF;
        z-index: 99;
    }
    
    header #btn-menu {
        display: block;
    }

    header .icon-tickitz img {
        width: 93px;
        height: 37px;
    }

    header nav {
        background-color: rgba(0, 0, 0, 0.75);
        width: 0;
        position: absolute;
        top: 91px;
        left: 0;
        transition: all ease .3s;              
    }
    
    header nav .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        column-gap: 0;
        gap: 0;
        min-height: 100vh;
        width: 65%;
        background-color: white;
        overflow-x: hidden;
        transition: all ease .2s;
    }

    header nav .nav-list li {
        line-height: 40px;
    }
    header nav .nav-list li a {
        padding: 0;
        display: block;
        font-size: 18px;
        padding-left: 40px;
    }

    #con-btn-sign-side {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 15px;
    }

    #con-btn-sign-side li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
    }

    #con-btn-sign-side li a {
        color: #1D4ED8;
        border: 1px solid #1D4ED8;
        width: 110px;
        display: block;
        text-align: center;
        padding: 0;
        border-radius: 5px;
    }

    #con-btn-sign-side #btn-sign-up a {
        color: #ffffff;
        background-color: #1D4ED8;
        border-color: #ffffff;
    }

    .open{
        width: 100%;
    }

    footer .con-list-footer {
        flex-direction: column;
        padding: 120px 25px 0 25px;
        
    }

    .con-list-footer .sub-list-footer {
        width: 100%;
        justify-content: start;
    }

    .con-list-footer .footer-explore {
        padding-left: 0;
    }

    .con-list-footer .footer-tickitz p {
        width: 100%;
        font-size: 14px;
    }

    .con-list-footer .footer-tickitz img {
        width: 153px;
        height: 60px;
    }

    .con-list-footer .sub-list-footer .title-list-footer {
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .con-list-footer  .footer-explore .list-explore{
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        flex-wrap: wrap;
    }

    .list-sponsor {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        flex-wrap: wrap;
    }

    .list-sponsor img, .icon-cinema, .icon-hiflix {
        width: 81px;
        height: 30px;
        margin-bottom: 10px;
    }

    .con-list-footer .footer-sponsor .title-list-footer {
        margin-bottom: 20px;
    }

    .con-medsos a {
        display: none;
    }

    .con-icon-medsos {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .copy-right {
        font-size: 13px;
        text-align: left;
        padding-left: 20px;
    }

    .con-hero {
        height: 475px;
        background-repeat: no-repeat;
        background-position: right;
        margin-bottom: 240px;
    }

    .con-hero img {
        display: block;
    }

    .con-detail-movie {
        position: relative;
    }

    .con-header-movie{
        display: flex;
        flex-direction: column;
        position:relative;
    }

    .con-poster-movie img {
        display: none;
        width: 100%;
        height: 502px;
        position: relative;
    }

    .con-right-header {
        padding: 0;
        margin-top: 70px;
    }

    .con-right-header .movie-name {
        font-size: 20px;
        text-align: center;
    }

    .con-genre {
        justify-content: center;
    }

    .con-genre p{
        font-size: 14px;
    }
    
    .sub-detail .title {
        font-size: 13px;
    }

    .con-sub-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .con-sinopsis {
        margin-top: 20px;
    }

    .con-sinopsis p {
        font-size: 14px;
        width: 100%;
    }

    .con-booking .title-booking {
        display: none;
    }

    .form-date {
        grid-template-columns: 1fr;
    }

    .con-input input, .con-location {
        width: 100%;
        padding: 0 40px;
    }
    .title-input, #input-time {
        display: none;
    }
    .title-filter-mobile{
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .btn-submit {
        margin-top: 10px;
    }

    #result-mobile {
        display: block;
        text-align: center;
    }

    .con-btn-list-cinema {
        flex-direction: column;
        row-gap: 15px;
    }

    .con-btn-cinema .btn-cinema {
        width: 100%;
    }

    .con-cinema-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #icon-hiflix-mobile{
        display: block;
    }
    #icon-hiflix-desktop {
        display: none;
    }
    .right-cinema-detail {
        width: 15%;
        height: 100px;
        text-align: right;
        /* background-color: yellowgreen; */
    }

    .ebuid2 {
        display: none;
    }

    .btn-submit-cinema {
        display: none;
    }

    .con-cinema-detail hr {
        border: 1px solid #DEDEDE;
    }
    
    .title-category-time {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        letter-spacing: 0.5px;
    }
    .con-time {
        display: grid;
        grid-template-columns: 120px 120px;
        gap: 10px;
    }

    .con-time .active {
        color: #FFFFFF;
        background-color: #1D4ED8;
    }

    .con-time p{
        font-size: 14px;
        color: #4E4B66;
        background-color: #A0A3BD33;
        padding: 12px 25px 12px 25px;
        border-radius: 20px;
    }
    .con-cover-cinema {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .con-cover-cinema .left-cinema-detail{
        width: 80%;
    }

    .left-cinema-detail img {
        margin-bottom: 10px;
    }

    .left-cinema-detail p {
        color: #6E7191;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.75px;
        margin-bottom: 15px;
    }
    /* .icon-arrow {
        width: 15%;
    } */

    .con-btn-cinema .btn-cinema {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        height: fit-content;
        padding: 20px;
        flex-direction: column;
        justify-content: left;
    }

    .con-btn-cinema .btn-cinema .icon-cover {
        width: 112px;
        height: 45px;
        margin-bottom: 20px;

    }



}